<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bell Project | Haidar's Project #1</title>
    <link rel="stylesheet" href="static/home.css">
    <link rel="icon" href="static/images/home.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
    <div class="container">
        <div class="judul">
            <h2>Digital Bell</h2>
        </div>
        <div class="tombol">
            <a target="_blank" href="/sender">
                <button type="button" class="pengirim">SENDER</button>
            </a>
            <a target="_blank" href="/receiver">
                <button type="button" class="penerima">RECEIVER</button>
            </a>
        </div>
    </div>
</body>
</html>