<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bell Project | Haidar's Project #1</title>
    <link rel="stylesheet" href="static/home.css">
    <link rel="icon" href="static/images/home.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
    <div class="container">
        <a href="/sender">
            <button type="button" class="pengirim">PENGIRIM BEL</button>
        </a>
        <a href="/receiver">
            <button type="button" class="penerima">PENERIMA BEL</button>
        </a>
    </div>
</body>
</html>