<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Bell Receiver</title>
  <link rel="stylesheet" href="static/receiver.css">
</head>
<body>

<h1>📡 RECEIVER</h1>
<p>Menunggu bel...</p>
<p><b>Klik sekali di halaman ini agar suara bisa diputar</b></p>

<audio id="sound" src="/static/chicken.mp3"></audio>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script>
  const socket = io();
  const sound = document.getElementById("sound");

  // unlock audio (wajib di browser)
  document.body.addEventListener("click", () => {
    sound.play().then(() => {
      sound.pause();
      sound.currentTime = 0;
      console.log("Audio unlocked");
    });
  }, { once: true });

  socket.on("bell", () => {
    console.log("BEL DITERIMA");
    sound.currentTime = 0;
    sound.play();
  });
</script>

</body>
</html>
