<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Bell Receiver</title>
  <link rel="stylesheet" href="static/receiver.css">
</head>
<body>

<p>Menunggu bel...</p>
<p><b>Klik sekali di halaman ini agar suara bisa diputar</b></p>

<audio id="sound" src="/static/chicken.mp3"></audio>

<script src="https://js.pusher.com/8.0.1/pusher.min.js"></script>
<script>
  const pusher = new Pusher('bcf0f5714b9e9a5b86d1', { cluster: 'ap1' });
  const channel = pusher.subscribe('bell-channel');

  channel.bind('bell-event', function(data) {
    alert("BEL BERBUNYI: " + data.message);
  });
</script>

</body>
</html>
